@import "tailwindcss";
/* Scrollbar Hide Utility */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE और Edge */
  scrollbar-width: none;     /* Firefox */
}